footer {
    padding: 30px 0px;
    background: #fff;
    border-top: 1px solid #2c8968;
    .navbar-brand {
        padding: 0px;
        height: auto;
        & > img {
            width: 60px;
            margin: 0px !important;
            height: auto;
        }
    }

    ul {
        padding: 0px;
        margin: 0px;
        list-style: none;
        & > li {
            padding: 2px 8px;
            float: left;
        }
    }
}
